<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8">
   <title>About us</title>
  <Body>
    {{> header}}
    <p>Thank you for using our server.</p>
    {{> footer}}
  </body>
  </html>
