<!DOCTYPE html>
<html><head>
  <meta charset="utf-8">
  <title>Website down</title>
</head>
  <body>
    {{> header}}
    <p>We are down for maintenance, droids are working hard to get us live again!</p>
      {{> footer}}
  </body>
</html>
